# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.synctex(busy)
*.out
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.ist
*.nav
*.snm
*.vrb
*.xdv
